<VirtualHost *:443>

ServerName {{ domainname }}
ServerAlias {{ domainname }}

DocumentRoot "{{ doc_root }}"

DirectoryIndex index.php index.html

<Directory "{{ doc_root }}">
	Options Indexes FollowSymLinks Multiviews
	AllowOverride  All
	Order allow,deny
	Allow from all
	Require all granted
</Directory>

SSLEngine on

SSLCertificateFile  /etc/apache2/ssl/{{ domainname }}.pem
SSLCertificateKeyFile /etc/apache2/ssl/{{ domainname }}.key

CustomLog /var/log/apache2/{{ domainname }}-ssl_access.log combined
ErrorLog /var/log/apache2/{{ domainname }}-ssl_error.log

</VirtualHost>
