-----BEGIN CERTIFICATE-----
MIIEKzCCAxOgAwIBAgIJAKkfolptEJj+MA0GCSqGSIb3DQEBCwUAMIGrMQswCQYD
VQQGEwJJTjESMBAGA1UECAwJS2FybmF0YWthMRIwEAYDVQQHDAlCYW5nYWxvcmUx
DTALBgNVBAoMBHNlbGYxDTALBgNVBAsMBFNlbGYxMTAvBgNVBAMMKGVjMi01NC0x
NjEtODMtNDkuY29tcHV0ZS0xLmFtYXpvbmF3cy5jb20xIzAhBgkqhkiG9w0BCQEW
FGhhcmlkYXNrc2RAZ21haWwuY29tMB4XDTE5MDYxMjEyMTE0OFoXDTIwMDYxMTEy
MTE0OFowgasxCzAJBgNVBAYTAklOMRIwEAYDVQQIDAlLYXJuYXRha2ExEjAQBgNV
BAcMCUJhbmdhbG9yZTENMAsGA1UECgwEc2VsZjENMAsGA1UECwwEU2VsZjExMC8G
A1UEAwwoZWMyLTU0LTE2MS04My00OS5jb21wdXRlLTEuYW1hem9uYXdzLmNvbTEj
MCEGCSqGSIb3DQEJARYUaGFyaWRhc2tzZEBnbWFpbC5jb20wggEiMA0GCSqGSIb3
DQEBAQUAA4IBDwAwggEKAoIBAQDhpdAAsDiTRe7CFh4vaV3MtGADwW/rb/Bx22C1
39TkmEbivgMIJXrlcxTY0hYrGXH4lmx1rxNehFf6115d9B1vE8C1nx2GegRhlSek
izAsPCG2yq6NdPOZYKlXMslQFFnLwswCwnZFNdIoBEiIoV8rarSRtt3J82QbFZQ9
m/y4Kru1LTt/bdN0pdIXEAr3tejgHVuZwAzx2b5r/j1uq9M9RVSYEITkyAqDYid1
G18A0aQvc95D2UOukOr0K7S7WgmfkQOnxtIvNwBs/4p4cQfp1+ngkvuC8exFmDFb
As5x3ouvY+Az2QioimrEHHTRlyepgKxkaJBeaCi9ZJHvcKnNAgMBAAGjUDBOMB0G
A1UdDgQWBBT9yj4/sUiimVDS4MOp1EzotEPtoDAfBgNVHSMEGDAWgBT9yj4/sUii
mVDS4MOp1EzotEPtoDAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQDN
qUFcCizl2kvUehzf+2F7bN3ARE1bfM5SS6BWq7qBiVoHpnyrCFmeFr0Mw/oWH26A
dYtPPwZmOFVMUvN33FakrFgP/6o+x9jChW3D3eFA4CM+B5Zeal04+wLBfzihTlqz
gwpvys451yEqQZwOWVwEReo2eaxsL8Y8hOOp2nbOh/uWDLDbUc00oXUMuSURupLa
i7D3oTcQqtZgbPA65gPW1RUbn/ZZXeFqdLF+rU7i2uG5mEiRLi2mQiJxNDbH7hkU
rdPEJ/IVf6vFmPsJlaZeK15XS7qB7teaNGRpKowYk16kgcfimCBwzNJn2DGROJZz
1Rrj7ILdPAtDx5NX053p
-----END CERTIFICATE-----
